@page
@model LoginModel

<link rel="stylesheet" href="~/css/account/login.css" asp-append-version="true" />


@{
    ViewData["Title"] = "Log in";
}

<div class="login-main">
    <h1>@ViewData["Title"]</h1>
    <form id="account" method="post">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.UserName" class="form-control"aria-required="true" autocomplete="off" />
            <label asp-for="Input.UserName" class="form-label"></label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.Password" class="form-control" aria-required="true" />
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
